In [109]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [110]:
data = pd.read_csv('creditcard.csv')
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [111]:
data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [112]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [113]:
data.isnull()

         Time     V1     V2     V3     V4  ...    V26    V27    V28  Amount  Class
0       False  False  False  False  False  ...  False  False  False   False  False
1       False  False  False  False  False  ...  False  False  False   False  False
2       False  False  False  False  False  ...  False  False  False   False  False
3       False  False  False  False  False  ...  False  False  False   False  False
4       False  False  False  False  False  ...  False  False  False   False  False
...       ...    ...    ...    ...    ...  ...    ...    ...    ...     ...    ...
284802  False  False  False  False  False  ...  False  False  False   False  False
284803  False  False  False  False  False  ...  False  False  False   False  False
284804  False  False  False  False  False  ...  False  False  False   False  False
284805  False  False  False  False  False  ...  False  False  False   False  False
284806  False  False  False  False  False  ...  False  False  False   False  False

[284807 rows x 31 columns]

In [114]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [115]:
data.isnull().any(axis = 1).sum()

0

In [116]:
data.loc[data.isnull().any(axis = 1)]

Empty DataFrame
Columns: [Time, V1, V2, V3, V4, V5, V6, V7, V8, V9, V10, V11, V12, V13, V14, V15, V16, V17, V18, V19, V20, V21, V22, V23, V24, V25, V26, V27, V28, Amount, Class]
Index: []

In [117]:
data.dropna(axis = 0, how = 'any', inplace = True)

In [118]:
data.isnull().any(axis = 0).sum(), data.isnull().any(axis = 1).sum()

(0, 0)

In [119]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [120]:
data['Class'].count()

284807

In [121]:
data['Class'].unique()

array([0, 1])

In [122]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [123]:
safeTransactions = data[data['Class'] == 0.0]
fraudTransactions = data[data['Class'] == 1.0]

In [124]:
safeTransactions['Class'].unique(), fraudTransactions['Class'].unique()

(array([0]), array([1]))

In [125]:
safeTransactions.shape, fraudTransactions.shape

((284315, 31), (492, 31))

In [126]:
safeTransactions['Amount'].describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [127]:
fraudTransactions['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [128]:
 data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [135]:
legit_sample = safeTransactions.sample(n = len(fraudTransactions))

In [137]:
legit_sample.value_counts()

Time      V1         V2         V3         V4         V5         V6         V7         V8         V9         V10        V11        V12        V13        V14        V15        V16        V17        V18        V19        V20        V21        V22        V23        V24        V25        V26        V27        V28        Amount  Class
172579.0   1.964956  -0.489640  -0.249225   0.535089  -0.887694  -0.561374  -0.681844   0.019096   1.623497  -0.143729  -1.112047  -0.040266  -0.916619   0.012251   0.633842   0.062106  -0.381972   0.232659  -0.299048  -0.293872   0.188130   0.758376   0.138254  -0.015989  -0.146947  -0.206648   0.038215  -0.039004  9.99    0        1
61495.0   -1.034898   1.186486   0.891520   1.364840  -0.456863   0.251688   0.715411   0.391103  -0.510584  -0.310329  -0.646095   0.603259   0.535995   0.163802   0.142146  -1.091709   0.736907  -0.707456   0.718035   0.033475   0.011832   0.323792   0.080452   0.114449  -0.014095  -0.229135   0.234927   0.100769  112.65  0        1
61590.0    1.361920  -0.596665   0.217456  -0.951115  -0.685387  -0.241839  -0.620047  -0.008816  -0.993624   0.763708   0.793180  -0.082422   0.323336  -0.014058   0.169927   1.673770  -0.336640  -0.818776   1.198911   0.173804  -0.078282  -0.445898  -0.007946  -0.519961   0.300999  -0.450753  -0.000066   0.009634  39.90   0        1
61615.0    1.239784  -1.204074   0.292410  -2.795897  -1.188035  -0.019487  -0.924885   0.191935   0.884300  -0.726571   1.647926   1.561165   0.118944   0.150115   1.090924  -2.998056   0.680066   1.018226  -0.016185  -0.515657  -0.234134   0.076921  -0.020300  -0.288730   0.435067  -0.693932   0.133882   0.017152  29.98   0        1
61675.0    1.354156  -0.951520   0.430555  -2.128595  -1.417103  -0.778100  -0.853127  -0.054029   0.512919  -0.279803  -0.223224   0.117406  -0.086545   0.113172   2.111291  -2.060443   0.297164   1.176422  -0.592243  -0.518505  -0.183198   0.081342  -0.008259   0.096812   0.331899   0.118355   0.059174   0.021132  15.21   0        1
                                                                                                                                                                                                                                                                                                                                              ..
129509.0   2.039181  -0.216166  -1.239947   0.211822   0.019715  -0.608434  -0.034532  -0.059166   0.513262   0.274489   0.419709   0.293692  -1.312084   0.723675  -0.435077   0.212550  -0.549940  -0.166665   0.523546  -0.295271  -0.274009  -0.747202   0.302179  -0.503288  -0.335942   0.212975  -0.080621  -0.077775  0.99    0        1
130314.0  -0.552102   0.687635   0.595240   0.823992  -0.379396   0.466087   0.448195   0.529352  -0.189850  -0.670024  -1.323973   0.101781   0.228032   0.261481   0.486099   0.158348  -0.319128   0.210306   0.208832   0.122272   0.085508  -0.033644   0.550431   0.523265  -1.056689  -0.966599   0.129912   0.207360  145.00  0        1
130320.0   1.956876  -0.314720  -1.115914   0.490370  -0.189324  -0.755092   0.034731  -0.191798   0.534257   0.188756   0.712429   1.212255  -0.032458   0.228033  -1.391541  -0.363526  -0.261789  -0.108013   0.373975  -0.167830   0.201416   0.815560  -0.023692   0.175394   0.159092   0.697107  -0.075412  -0.076239  29.56   0        1
130961.0   2.005532  -0.031018  -1.980535   1.038470   0.848471  -0.035172   0.327975  -0.022152   0.262501   0.454655  -0.150384  -0.130617  -1.894124   0.991878  -0.902574  -0.195183  -0.557779   0.286435   0.329154  -0.314739   0.008504   0.056078  -0.018212  -0.017720   0.409163  -0.543209  -0.034598  -0.070434  24.00   0        1
536.0     -0.736062   0.104864   2.356355  -1.796916  -0.727809  -0.177561  -0.264346   0.179152  -0.672160  -0.096592  -1.190048  -0.887366   0.263958  -0.914016  -0.196126   1.492883  -0.096400  -0.937396   0.219977   0.271757   0.132683   0.432163  -0.347870  -0.126574   0.487953  -0.235765   0.304176   0.126340  15.00   0        1
Length: 492, dtype: int64

In [138]:
newDf = pd.concat([legit_sample, fraudTransactions], axis = 0)

In [139]:
newDf.head()

           Time        V1        V2  ...       V28  Amount  Class
137677  82278.0  1.544578 -0.907758  ...  0.026529    9.80      0
87414   61675.0  1.354156 -0.951520  ...  0.021132   15.21      0
116475  74290.0  0.141388 -1.163149  ...  0.117877  467.73      0
2302     1844.0  1.115348 -0.562788  ...  0.041505   39.90      0
11272   19571.0 -3.282390  1.754542  ...  0.022545    0.95      0

[5 rows x 31 columns]

In [140]:
newDf.tail()

            Time        V1        V2  ...       V28  Amount  Class
279863  169142.0 -1.927883  1.125653  ...  0.147968  390.00      1
280143  169347.0  1.378559  1.289381  ...  0.186637    0.76      1
280149  169351.0 -0.676143  1.126366  ...  0.194361   77.89      1
281144  169966.0 -3.113832  0.585864  ... -0.253700  245.00      1
281674  170348.0  1.991976  0.158476  ... -0.015309   42.53      1

[5 rows x 31 columns]

In [141]:
newDf['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [142]:
newDf.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94329.168699  0.046707  0.032909  ...  0.002340  0.007203   79.273008
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

In [143]:
X = newDf.drop(columns='Class', axis = 1)
Y = newDf['Class']

In [144]:
X.head()

           Time        V1        V2  ...       V27       V28  Amount
137677  82278.0  1.544578 -0.907758  ...  0.050399  0.026529    9.80
87414   61675.0  1.354156 -0.951520  ...  0.059174  0.021132   15.21
116475  74290.0  0.141388 -1.163149  ... -0.026522  0.117877  467.73
2302     1844.0  1.115348 -0.562788  ...  0.093972  0.041505   39.90
11272   19571.0 -3.282390  1.754542  ... -1.000543  0.022545    0.95

[5 rows x 30 columns]

In [148]:
Y.head()

137677    0
87414     0
116475    0
2302      0
11272     0
Name: Class, dtype: int64

In [149]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [150]:
X_train.shape, X_test.shape

((787, 30), (197, 30))

In [151]:
Y_train.shape, Y_test.shape

((787,), (197,))

In [156]:
model = LogisticRegression(solver='lbfgs', max_iter=400)

In [158]:
model.fit(X_train, Y_train)

LogisticRegression(max_iter=400)

In [161]:
X_train_pred = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_pred, Y_train)

In [162]:
training_data_accuracy

0.9504447268106735

In [163]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [164]:
test_data_accuracy

0.9441624365482234